body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    /* width: 10%; */
}

nav img {
    width: 120px;
    height: auto;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 10px;
    list-style-type: none;
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}